.sendButton {
  border: solid #717171;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.sendButton:hover {
  border: solid #ff7002;
}
