.menuContainer{
  margin: 20px;
  height: auto;
}

.unitWithCategories {
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px 5px #9c9c9c;
  border-radius: 0 0 5px 5px;
}


.mainUnit p {
  color: white;
  margin: 0;
}

.mainUnit {
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5px 5px 5px #9c9c9c;
  width: 250px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
