.navLink {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navLink:hover {
  .arrow {
    transition: .5s;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .nameOfNavLink {
    margin: 10px 0 10px 10px;
    color: white;
    transition: 0.5s;
  }
}


.arrow {
  transition: .5s;
  border: solid #717171;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nameOfNavLink {
  transition: 0.5s;
  margin: 10px 0 10px 15px;
  color: #9c9c9c;
}
