.regAndLoginContainer {
  display: flex;
  align-items: center;
}

.HButton {
  cursor: pointer;
  margin: 0 10px;
  color: white;
  transition: transform .5s, color 1s;
}

.HButton:hover {
  color: black;
  transform: scale(1.2);
}
